<div>
    <div>From: <%= flight.from %></div>
    <div>To: <%= flight.to %></div>
    <div>Departure: <%= flight.dep_time %></div>
    <div>Arrival: <%= flight.arr_time %></div>
    <div>Date: <%= flight.date_of_journey %></div>
    <div>Price: Rs.<%= flight.price %></div>
</div>
